<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<display-name>Hello</display-name>
  	<description></description>
  	<servlet-class>com.ooad.web.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>Student</servlet-name>
		<servlet-class>com.ooad.web.Controller.StudentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Student</servlet-name>
		<url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>com.ooad.web.Controller.CreateStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/createstudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.ooad.web.api</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>
